<div class="container-fluid">
    <div class="row text-center" style="margin-top: 4rem;">
        <div class="col-md-12">
            <h1>E-Learning Plaforms</h1>
        </div>
    </div>
</div>
<hr style="background-color: #dddddd; width: 50%;">
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card border-success  card-container mb-5">
                    <div style="height:7rem;">
                    <div class="logo"></div>
                    <img class="card-img-top rounded-circle "  src="../assets/images/udemy.png" alt="Card image cap"  style="width: 40%;padding: 0.6rem; margin: 12px;">
                </div>
                    <div class="card-body">
                        <h3 class="text-success">Udemy</h3>
                        <p>Udemy, founded in May 2010, is an online learning platform aimed at professional adults and students. As of Jan 2020, 
                            the platform has more than 50 million students and 57,000 instructors teaching courses ...
                        </p>
                        <a href="https://www.udemy.com/" target="_blank">Visit Site</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success  card-container mb-5">
                    <div style="height:7rem;"> 
                    <div class="logo"></div>
                    <img class="card-img-top "  src="../assets/images/coursera.png" alt="Card image cap"  style="width: 30%;padding: 0.7rem; margin: 11px 22px; ">
                </div>
                    <div class="card-body">
                        <h3 class="text-success">Coursera</h3>
                        <p>Coursera is a world-wide online learning platform founded in 2012 by Stanford University's computer science professors Andrew Ng and Daphne Koller 
                            that offers massive open online courses (MOOC)...
                        </p>
                        <a href="https://www.coursera.org/" target="_blank">Visit Site</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border-success  card-container mb-5">
                    <div style="height:7rem;">
                    <div class="logo"></div>
                    <img class="card-img-top"  src="../assets/images/freecode.png" alt="Card image cap"  style="width: 40%;padding: 1rem; margin: 12px;">
                </div>
                    <div class="card-body">
                        <h3 class="text-success">freeCodeCamp</h3>
                        <p>freeCodeCamp is a non-profit organization that consists of an interactive learning web platform, an online community forum, chat rooms, 
                            online publications and local organizations that intend ...
                        </p>
                        <a href="https://www.freecodecamp.org/" target="_blank">Visit Site</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border-success  card-container mb-5">
                    <div style="height: 7rem;"> 
                    <div class="logo"></div>
                    <img class="card-img-top "  src="../assets/images/edx.png" alt="Card image cap"  style="width: 40%;padding: 1.2rem; margin: 12px;">
                </div>
                    <div class="card-body">
                        <h3 class="text-success">edX</h3>
                        <p>edX is a massive open online course provider created by Harvard and MIT. It hosts online university-level 
                            courses in a wide range of disciplines to a worldwide student body, including some courses at no charge
                        </p>
                        <a href="https://www.edx.org/" target="_blank">Visit Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
