.full-row {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    background: rgb(238, 238, 238);
    margin-top: 1rem;
    border-radius: 20px;
}

select {
    border: #26b16d;
    border-radius: 16px;
    float: right;
}

.fas {
    color: #26b16d;
}

.card {
    border: #26b16d 1.5px solid;
    border-radius: 20px;
    border-top: #26b16d 9px solid;
}

.text-right {
    margin-top: -.5rem;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    padding-left: .5rem;
    padding-top: .5rem;
    padding-right: .5rem;
    border-radius: 20px;
}