<div class="container">
    <div class="row">
        <div class="col-md-12 mb-3 full-sub" style="background: rgb(238,238,238);">
            <h1 style=" margin-left: .5rem;">Subscriptions</h1>
        </div>
    </div>
    <div class="container box">
        <div class="row mb-2">
            <div class="col-md-3 mb-2">
                <div class="card profile-card-3">
                    <div class="background-block">
                    </div>
                    <div class="profile-thumb-block">
                        <img src="../../../assets/fac-avatar2.png" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <h3>Samuel Sharma</h3>
                        <h3><small>Teaching Enthausist</small></h3>
                        <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"> <i class="fa fa-twitter"></i></a>
                            <a href="#"> <i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-2">
                <div class="card profile-card-3">
                    <div class="background-block">
                    </div>
                    <div class="profile-thumb-block">
                        <img src="../../../assets/fac-avatar2.png" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <h3>Rahul Rajak</h3>
                        <h3><small>I am a Phd...</small></h3>
                        <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"> <i class="fa fa-twitter"></i></a>
                            <a href="#"> <i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>