
 .row {
        margin-left: 0;
        margin-right: 0;
      }


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  /*password eye*/
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  
  .subbtn
  {
      border-radius: 30px;
      width:100%;
  }
  form
  {
      width:90%;
      padding:0 0 0 3rem;
      
  }
  